/* 
Statistics will include:
1) Total amount of expenses
2) Total amount of expenses from the same place
3) Total amount of expenses from the same date
*/

.statistics{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  row-gap: 25px;
}

.statistics-title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

#totalExpenses{
  width: 400px;
  border: 1px solid lightgray;
  border-bottom: none;
}

#totalExpensesByPlace{
  width: 800px;
  border: 1px solid lightgrey;
  border-bottom: none;
}

#totalExpensesByAmount{
  width: 800px;
  border: 1px solid lightgrey;
  border-bottom: none;
}

.stat-header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 40px;
  font-weight: bold;
  font-size: 15px;
  border-bottom:1px solid lightgrey;
}

.stat-subheader{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom:1px solid lightgrey;
}

.stat-subsubheader{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 40px;
  font-weight: bold;
  font-size: 15px;
}

.stat-entry-container{
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

.stat-total{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 40px;
  font-size: 15px;
}

.stat-place{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 40px;
  font-size: 15px;
}

.stat-amount{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 40px;
  font-size: 15px;
}







